autom4te.cache
aclocal.m4
build-aux/*
config.log
config.status
configure
po/POTFILES
po/remove-potcdate.sed
Makefile
Makefile.in
src/.deps/
src/config.h
src/config.h.in
src/stamp-h1
src/*.o
VERSION
*.tar.gz
